
div{
    //https://cubic-bezier.com/#1,0,0,1
--custom-fade:opacity cubic-bezier(1,0,0,1) 0.5s;
}


.hide {
    width: inherit;
    height: inherit;
    position: absolute;
    display: block;
    opacity: 0;
    transition: var(--custom-fade);
    overflow:inherit;
}

.unhide {
    width: inherit;
    height: inherit;
    position: absolute;
    display: block;
    opacity: 0;
    transition: var(--custom-fade);
    overflow:inherit;
}

.show{
    width: inherit;
    height: inherit;
    position: absolute;
    display: block;
    opacity: 1;
    transition: var(--custom-fade);
    overflow:inherit;
}

